/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}
body {
  /* background-color: #93a3b5; */
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
}
.container-sm {
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
}
.container-md {
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
}
/* Small  */

/* header */
.error-header {
  width: 100%;
  z-index: 2;
  position: relative;
}
.active {
  color: #778494;
}
.error-header nav {
  background-color: #30373d;
  padding: 1.25rem 0;
}
.error-header .container {
  display: flex;
  align-items: center;
}
.error-header .container .logo {
  max-width: 210px;
  min-width: 70px;
}
.error-header .container .logo img {
  width: 100%;
}
.error-header .ul-holder {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.error-header nav ul {
  display: flex;
}
.error-header nav .icons {
  margin-left: 1rem;
}
.error-header nav .icons i {
  font-size: 1.563rem;
}

@media (max-width: 620px) {
  .error-header nav {
    min-height: 88px;
  }
  .error-header nav .nav-links {
    order: 3;
    flex-basis: 100%;
    position: absolute;
    top: 3.8rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .error-header nav .nav-links li a {
    min-width: 3.438rem;
  }
  .error-header nav .icons {
    flex-basis: 50%;
  }
}
.error-header nav ul li a {
  margin-left: 1.5rem;
  text-align: center;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  position: relative;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}
.error-header nav ul li a:hover {
  color: #778494;
}
/* End Nav */
/* Error */
.error {
  height: calc(100vh - 9.40625rem);
  position: relative;
}
.error .container {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.error .container .image-holder {
  flex-basis: 30%;
}
.error .container .image-holder img {
  width: 100%;
  height: auto;
}
.error .container .content {
  text-align: center;
  flex-basis: 70%;
}
.error .container .content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.error .container .content p {
  margin-bottom: 0.4375rem;
  font-size: 1.125rem;
}
/* Error */
/* Footer */
.footer {
  padding: 30px 0;
  background-color: black;
  display: flex;
  align-items: center;
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .logo {
  max-width: 210px;
  min-width: 70px;
}
.footer .logo img {
  width: 100%;
}
.footer p {
  color: white;
}
.footer .icons {
  margin-left: 1rem;
  display: flex;
}
.footer .icons i {
  font-size: 25px;
}
.footer .icons a {
  margin-left: 1.5rem;
  text-align: center;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 16px;
  position: relative;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1200px) {
  .footer .container {
    flex-direction: column;
  }
  .footer .container p {
    margin: 20px 0;
  }
  .footer .container a {
    text-align: center;
  }
}
@media (max-width: 992px) {
  .error .image-holder {
    display: none;
  }
}
/* end footer */
