/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  font-family: "roboto", sans-serif;
}
body {
  /* background-color: #93a3b5; */
}
ul {
  list-style: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: calc(100vw - 10vw);
}
.container-two {
  margin: 0 auto;
  max-width: 90vw;
}
/* Small  */

/* header */
.menu-two {
  width: 100%;
  z-index: 2;
  position: relative;
}
.active {
  color: #778494;
}
.menu-two nav {
  background-color: #30373d;
  padding: 1.25rem 0;
}
.menu-two .container {
  display: flex;
  align-items: center;
}
.menu-two .container .logo {
  max-width: 210px;
  min-width: 70px;
}
.menu-two .container .logo img {
  width: 100%;
}
.menu-two .ul-holder {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.menu-two nav ul {
  display: flex;
}
.menu-two nav .icons {
  margin-left: 1rem;
}
.menu-two nav .icons i {
  font-size: 1.563rem;
}

@media (max-width: 620px) {
  .menu-two nav {
    min-height: 88px;
  }
  .menu-two nav .nav-links {
    order: 3;
    flex-basis: 100%;
    position: absolute;
    top: 3.8rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .menu-two nav .nav-links li a {
    min-width: 3.438rem;
  }
  .menu-two nav .icons {
    flex-basis: 50%;
  }
}
.menu-two nav ul li a {
  margin-left: 1.5rem;
  text-align: center;
  display: block;color: white;
  text-decoration: none;
  font-size: 1rem;
  position: relative;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}
.menu-two nav ul li a:hover {
  color: #778494;
}
/* End Nav */
.colored-backgrouned {
  height: 30vh;
}
.colored-backgrouned .first {
  height: 55%;
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-two-content {
  text-align: center;
}
.text-align-center {
  text-align: center;
}
.page-two-content .boxes {
  margin: 2.625rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-two-content .boxes .im-1{
  object-position: bottom;
}
.page-two-content .boxes .im-2{
  object-position: top;
}
.page-two-first-heading {
  font-size: 2.375rem;
}
.page-two-second-heading {
  font-size: 2rem;
}
.boxes .box {
  height: 15.625rem;
  width: 25rem;
  overflow: hidden;
  box-shadow: 0rem .3125rem .8125rem .3125rem rgba(0,0,0,0.34);
}
.boxes .box img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  transition: all 900ms ease-in-out;
}
.boxes .box img:hover{
  transform: scale(1.3);
}
.boxes .box1 {
  background-color: #93a3b5;
  margin: 0 0.8125rem;
}
.boxes .box2 {
  background-color: #93a3b5;
  margin: 0 0.8125rem;
}
.boxes .box3 {
  background-color: #93a3b5;
  margin: 0 0.8125rem;
}
@media (max-width: 576px) {
  .boxes .box:nth-of-type(3) {
    display: none;
  }
  .page-two-content .boxes {
    flex-direction: column;
  }
  .boxes .box {
    width: 98%;
    flex-basis: 100%;
    margin: 0.625rem 0;
  }
  .boxes .box img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .boxes .box:nth-of-type(3) {
    display: none;
  }
}
.boxes-two {
  padding: 2.625rem 0;
  display: grid;
  grid-template-columns: repeat(4, 17%);
  grid-template-rows: repeat(2, 43%);
  gap: 1.5rem 1.48rem;
  justify-content: center;
}
.boxes-two .box{
  overflow: hidden;
  box-shadow: 0rem .3125rem .8125rem .3125rem rgba(0,0,0,0.34);
}
.boxes-two .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 900ms ease-in-out;
}
.boxes-two .box img:hover{
  transform: scale(1.3);
}
@media (max-width: 768px) {
  .boxes-two {
    grid-template-columns: repeat(3, 1fr);
  }
  .boxes-two .box4 {
    display: none;
  }
  .boxes-two .box8 {
    display: none;
  }
}
@media (max-width: 576px) {
  .boxes-two {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 34%);
    gap: 0.625rem 0.625rem;
    /* grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 2fr); */
  }
  .boxes-two .box4 {
    display: none;
  }
  .boxes-two .box8 {
    display: none;
  }
}

.boxes-two .box {
  background-color: #93a3b5;
}
.footer {
  padding: 2.5rem 0;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 576px) {
  .page-two-first-heading {
    font-size: 1.7rem !important;
  }
  .page-two-second-heading {
    font-size: 1.5rem !important;
  }
  .footer {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .page-two-first-heading {
    font-size: 1.9rem;
  }
  .page-two-second-heading {
    font-size: 1.7rem;
  }
  .footer {
    flex-direction: column;
  }
  .footer .logo {
    margin-left: 2.5575rem;
  }
}
.footer .logo {
  max-width: 210px;
  min-width: 4.375rem;
}
.footer .logo {
  font-size: 2.2rem;
  color: white;
  text-decoration: none;
}
@media (max-width: 576px) {
  .footer .logo {
    font-size: 1.7rem;
  }
  .footer p {
    font-size: 0.9rem;
  }
}
.footer .logo img {
  width: 100%;
}
.footer p {
  color: white;
  text-align: center;
}
.footer .icons {
  margin-left: 1rem;
  display: flex;
}
.footer .icons i {
  font-size: 1.5625rem;
}
.footer .icons a {
  margin-left: 1.5rem;
  text-align: center;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  position: relative;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}
